!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')

  body
    #header-view.header.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/") BabaScript Manager
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li: a new
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown", href="#")
                | グループ一覧
                b.caret
              ul.groups.dropdown-menu
          form.navbar-form
            input.form-control.group-search(type="text", placeholder="search group")
    .container-fluid
      #main-view.row

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
    script(src='/script.js')

    script#user-view(type="text/template")
      .user.panel.panel-info.panel-default
        .panel-heading
          | hogefuga
        .panel-body
          | いえーい
    script#group-view-member(type="text/template")
      .members.panel.panel-info.panel-default
        .panel-heading
          メンバー
        .panel-body
          input
          button.btn.btn-primary
            追加する
          button.btn.btn-danger
            削除する
        table.table
          thead
            tr
              th name
              th deviceType
              th uuid
          tbody
            <% _.each(members, function(member){ %>
            tr
              th <%= member.name %>
              th <%= member.deviceType %>
              th <%= member.uuid %>
            <% }) %>
        form(role="form")
          div.input-group
            span.input-group-btn
              button.btn.btn-default +
            input.form-control(type="text", placeholder="put user name")
            //- tr
            //-   th: button.add-member.btn.btn-default
            //-     span.glyphicon.glyphicon-plus
            //-   th
            //-   th
    script#group-view-analytics(type="text/template")
      .members.panel.panel-info.panel-default
        .panel-heading
          分析
        .panel-body
          | ここに分析結果
    script#group-view-program(type="text/template")
      .members.panel.panel-info.panel-default
        .panel-heading
          プログラム
        .panel-body
          | プログラムをここで実行可能にするとか


    script#group-view(type="text/template")
      .row
        .sidebar.col-sm-3.col-md-2
          ul.nav.nav-sidebar
            li.member: a(href="member") メンバー
            li.analytics: a(href="analytics") 解析
            li.program: a(href="program") プログラム
        #content-view.col-sm-9.col-sm-offse-3.col-md-10.col-md-offse-2.main
    script#user-view(type="text/template")
      .row
        .class.panel.panel-default
          .class.panel-body
            Basic panel example
    script#sidebar-group-element(type="text/template")
      a.list-card(href!='/groups/<%= name %>')
        h4 <%= name %>
        p <%= description %>
    script#group-element(type="text/template")
      li: a(href!='/groups/<%= name %>/') <%= name %>
    script#group-member-view(type="text/template")
      .panel.panel-default
        .panel-heading
          メンバー
        .panel-body
          ほげふがほげふが
        table.table
          thead
            tr
              th name
              th deviceType
              th uuid
          tbody
            <% _.each(members, function(member){ %>
            tr
              th <%= member.name %>
              th <%= member.deviceType %>
              th <%= member.uuid %>
            <% }) %>

    script#login-view(type="text/template")
      form.form-signin
        h2 login or sign up
        input.login-id.form-control(type="text", placeholder="id")
        input.login-pass.form-control(type="text", placeholder="pass")
        button.login.btn.btn-lg.btn-primary.btn-block login
        button.signup.btn.btn-lg.btn-primary.btn-block signup